---
title: Christa's WebZone
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/png" href="data:image/png;base64,"> -->
    <title>{{title}}</title>
    <style>
    body {
        color:#101113;
        background:#edf4fe
    }

    @media (prefers-color-scheme: dark) {
        body {
            color: #edf4fe;
            background:#101113
        }

        a:link {
            color:#3694ff
        }

        a:visited {
            color: #6673ff
        }
    }
</style>
</head>
<body>
    <script type="module" src="{{ content | safe }}"></script>
</body>
</html>